<h1>All Events</h1>

<%= link_to 'Create an Event' new_event_path %>

<% @events.each do |event| %>
    <p>
        <%= event.name %> |
        <%= link_to 'View', event_path(event) %> |
        <%= link_to 'Edit', edit_event_path(event) %> |
        <%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: "Are you sure?" } %> |
    </p>
<% end %>
